@model IEnumerable<Quanlythuvien.Models.DocGia>
@using Quanlythuvien.Models
@{
    ViewBag.Title = "ListDocGia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var khoa = ViewData["khoa"] as List<Khoa>;
}

<main>

    <div class="page-header">
        <div>
            <h1 class="font-weight-bold text-black" style="color:black">Xem thông tin hội viên</h1>
            <small>Trang chủ / Xem thông tin hội viên</small>
        </div>
    </div>

    <!-- Thông tin mượn sách -->
    <div class="page-content" style="display:flex; justify-content:space-between;">
        <div class="">
            <a class="btn12 active" href="@Url.Action("ListDocGia","Home")">Xem thông tin hội viên</a>
            <a class="btn12" href="@Url.Action("CreateDG","Home")">Thêm độc giả</a>
        </div>

        <div class="">

            @using (Html.BeginForm("ListDocGia", "Home"))
            {
                <label for="">Mã hội viên:</label>
                <input type="text" placeholder="VD:DG00001" name="key">
                <button class="btn btn-outline-primary btn-update-book" id="" style="margin-right:72px;" type="submit">Tìm kiếm</button>
            }

        </div>
    </div>
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success" style="text-align:center">
            <strong>Thành công !</strong> @TempData["AlertMessage"]
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
                @*<span>x</span>*@
            </button>
        </div>

    }


    <div class="page-content">
        <div>
            <table class="table-fill" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">Mã hội viên</th>
                        <th class="text-center">Tên hội viên</th>
                        <th class="text-center">MSSV/MSGV</th>
                        <th class="text-center">Ngày sinh</th>
                        <th class="text-center">Giới tính</th>
                        <th class="text-center">Khoa</th>
                        <th class="text-center">Số điện thoại</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>

                <tbody class="table-hover">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-left" style="color:indianred">@item.MaDocGia</td>
                            <td class="text-left">@item.TenDocGia</td>
                            <td class="text-left">@item.MaSo</td>
                            <td class="text-left">@item.NgaySinh.Value.ToString("dd-MM-yyyy")</td>
                            <td class="text-left">@item.GioiTinh</td>
                            <td class="text-left">
                                @khoa.FirstOrDefault(g => g.Id == item.Khoa).TenKhoa
                            </td>
                            <td class="text-left">
                                @item.SDT
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("SuaDG", "Home", new {Id=item.MaDocGia})" style=" background-color: cadetblue; color: #fff; border: none; padding:18px; font-size: 16px; cursor: pointer; border-radius: 20px">Sửa</a>
                                &nbsp;
                                <a href="@Url.Action("XoaDG", "Home", new {Id=item.MaDocGia})" style="background-color: cadetblue; color: #fff; border: none; padding: 18px; font-size: 16px; cursor: pointer; border-radius: 20px ">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</main>
<style>



    /*** Table Styles **/

    .table-fill {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        height: auto;
        margin: auto;
        max-width: 1400px;
        padding: 5px;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
    }

    th {
        color: white;
        background: #1b1e24;
        border-bottom: 4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 40px;
        font-weight: 100;
        padding: 24px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

        th:first-child {
            border-top-left-radius: 3px;
        }

        th:last-child {
            border-top-right-radius: 3px;
            border-right: none;
        }

    tr {
        border-top: 1px solid #C1C3D1;
        border-bottom: 1px solid #C1C3D1;
        color: #666B85;
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

        tr:hover td {
            background: #4E5066;
            color: #FFFFFF;
            border-top: 1px solid #22262e;
        }

        tr:first-child {
            border-top: none;
        }

        tr:last-child {
            border-bottom: none;
        }

        tr:nth-child(odd) td {
            background: #EBEBEB;
        }

        tr:nth-child(odd):hover td {
            background: #4E5066;
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 3px;
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 3px;
        }

    td {
        background: #FFFFFF;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #C1C3D1;
    }

        td:last-child {
            border-right: 0px;
        }

    th.text-left {
        text-align: left;
    }

    th.text-center {
        text-align: center;
        color: white;
        background: #1b1e24;
        border-bottom: 4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 18px;
        font-weight: 100;
        padding: 24px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

    th.text-right {
        text-align: right;
    }

    td.text-left {
        padding-left: 10px
    }

    td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }
</style>
<script src="./app.js"></script>

